.counter{
  color: #ffffff;
  font-size: 15px;
}

.icon.shop{
  
  font-size: 20px;
} 


.basket-link{
  opacity: 1 !important;
}
.list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.item{
  padding: 20px !important;
}


.modal-counter{


}
.modal-counter__price {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  margin-bottom: 20px;  
  }


.modal-counter__total{
margin-top: 20px;
display: flex;
justify-content: flex-end;
font-size: 20px;

}